body {
	width: 95%;
	margin: auto;
}
.cats {
	padding: 10px;
	display: inline-block;
	list-style: none;
	font-size: 3em;
	float: left;

}
.catDisplay {
	width: 200px;
	float: right;
	visibility: hidden;
}
